<section>
  <div class="row">
    <div class="col-3 button-container">
      <button mat-raised-button [routerLink]="['/access']">Hvem har tilgang</button>
    </div>
    <div class="col-3 button-container">
      <button mat-raised-button [routerLink]="['/components']">Hvilke komponenter er konfigurert</button>
    </div>
    <div class="col-3 button-container">
      <button mat-raised-button [routerLink]="['/clients']">Hvilke klienter er konfigurert</button>
    </div>
    <div class="col-3 button-container">
      <button mat-raised-button [routerLink]="['/events']">Se et hendelsesforløp</button>
    </div>
  </div>
</section>
