<h2>Registrere klient</h2>

<form [formGroup]="clientForm" novalidate (ngSubmit)="save(clientForm.value, clientForm.valid)">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="col-12">
          <input matInput placeholder="Visningsnavn" type="text" formControlName="shortDescription" required>
          <mat-hint [hidden]="clientForm.get('shortDescription').valid || clientForm.get('shortDescription').pristine" align="end" style="color: red">
            <fa name="warning" fixed="true"></fa>
            <span *ngIf="clientForm.get('shortDescription').hasError('required')">Påkrevd</span>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12">
          <input matInput placeholder="Notat" type="text" formControlName="note" required>
        </mat-form-field>
      </div>
      <br/>
      <div class="mat-elevation-z2 internal-panel">
        <h3>Autentisering</h3>
        <section>
          <div class="row">
            <mat-form-field class="col-12">
              <input matInput placeholder="Brukernavn" type="text" formControlName="name" [readonly]="isEdit()">
              <mat-hint [hidden]="clientForm.get('name').valid || clientForm.get('name').pristine" align="end" style="color: red">
                <fa name="warning" fixed="true"></fa>
                <span *ngIf="clientForm.get('name').hasError('required')">Påkrevd</span>
                <span *ngIf="clientForm.get('name').hasError('pattern')">(Gyldige tegn: 'A-Z', 'a-z', '0-9', '-'. Minimum lengde: 6, maximum lengde: 20)</span>
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-xs-12">
              <input matInput placeholder="Passord" [type]="showPassword ? 'text' : 'password'" formControlName="secret" readonly #secret>
              <button matSuffix mat-icon-button type="button" title="Vis passord" (click)="showPassword = !showPassword" [disabled]="!isEdit()">
                <fa [name]="showPassword ? 'eye' : 'eye-slash'" fixed="true"></fa>
              </button>
              <button matSuffix mat-icon-button type="button" title="Generer nytt passord" (click)="generateUserPass()" [disabled]="!isEdit()">
                <fa name="key" fixed="true"></fa>
              </button>
              <button matSuffix mat-icon-button type="button" title="Kopier passord" [ngxClipboard]="secret" [disabled]="!isEdit()">
                <fa name="copy" fixed="true"></fa>
              </button>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-xs-12">
              <input matInput placeholder="OAuth ClientId" [type]="showClientId ? 'test' : 'password'" formControlName="clientId" readonly #clientId>
              <button matSuffix mat-icon-button type="button" title="Vis clientId" (click)="showClientId = !showClientId" [disabled]="!isEdit()">
                <fa [name]="showClientId ? 'eye' : 'eye-slash'" fixed="true"></fa>
              </button>
              <button matSuffix mat-icon-button type="button" title="Kopier clientid" [ngxClipboard]="clientId" [disabled]="!isEdit()">
                <fa name="copy" fixed="true"></fa>
              </button>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-xs-12">
              <input matInput placeholder="OAuth Client Secret" [type]="showSecret ? 'text' : 'password'" formControlName="clientSecret" readonly #clientSecret>
              <button matSuffix mat-icon-button type="button" title="Vis secret" (click)="showSecret = !showSecret" [disabled]="!isEdit()">
                <fa [name]="showSecret ? 'eye' : 'eye-slash'" fixed="true"></fa>
              </button>
              <button matSuffix mat-icon-button type="button" title="Kopier client secret" [ngxClipboard]="clientSecret" [disabled]="!isEdit()">
                <fa name="copy" fixed="true"></fa>
              </button>
            </mat-form-field>
          </div>
        </section>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button [disabled]="!clientForm.valid || confirmation.checked !== true" type="submit" color="primary">
        <fa name="save" fixed="true"></fa>
        Lagre
      </button>
      <button mat-raised-button type="button" [routerLink]="['../']">
        <fa name="ban" fixed="true"></fa>
        Lukk
      </button>
      <div class="pull-right" [hidden]="!isNew">
        <mat-checkbox #confirmation [checked]="!isNew">Bekreft at databehandleravtale er inngått med klienten</mat-checkbox>
        <div>
          <mat-hint [hidden]="confirmation.checked" align="start" style="color: red;">
            <fa name="warning" fixed="true"></fa>
            <span>Må være bekreftet</span>
          </mat-hint>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
