<h2>Personer med tilgang i systemet</h2>

<div>
  Følgende personer har tillatelse til å gjøre endringer.
</div>

<md-card>
  <md-card-content class="table-container">
    <table>
      <thead>
        <tr>
          <th>Fødselsnummer</th>
          <th>Navn</th>
          <th>E-post</th>
          <th>Tlf</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts;">
          <td [routerLink]="['./', contact.nin]">{{ contact.nin }}</td>
          <td [routerLink]="['./', contact.nin]">{{ contact.firstName }} {{ contact.lastName }}</td>
          <td [routerLink]="['./', contact.nin]">{{ contact.mail }}</td>
          <td [routerLink]="['./', contact.nin]">{{ contact.mobile }}</td>
          <td>
            <button md-icon-button [routerLink]="['./', contact.nin]" title="Rediger"><fint-fa name="edit"></fint-fa></button>
            <button md-icon-button color="warn" (click)="revoke(contact)" title="Slett tilgang"><fint-fa name="ban"></fint-fa></button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button md-ripple [routerLink]="['./', 'grant']">
      <fint-fa name="key"></fint-fa>
      Gi tilgang
    </button>
  </md-card-actions>
</md-card>
