<h2>Personer med tilgang i systemet</h2>

<div>
  Følgende personer har tillatelse til å gjøre endringer.
</div>

<mat-card>
  <div class="mat-spinner-container" *ngIf="isLoading">
    <mat-spinner class="center"></mat-spinner>
  </div>

  <mat-card-content class="table-container">
    <table>
      <thead>
        <tr>
          <th>Fødselsnummer</th>
          <th>Navn</th>
          <th>E-post</th>
          <th>Tlf</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts;">
          <td [routerLink]="['./', contact.nin]">{{ contact.nin }}</td>
          <td [routerLink]="['./', contact.nin]">{{ contact.firstName }} {{ contact.lastName }}</td>
          <td [routerLink]="['./', contact.nin]">{{ contact.mail }}</td>
          <td [routerLink]="['./', contact.nin]">{{ contact.mobile }}</td>
          <td>
            <button mat-icon-button [routerLink]="['./', contact.nin]" title="Rediger"><fa name="edit"></fa></button>
            <button mat-icon-button color="warn" (click)="revoke(contact)" title="Slett tilgang"><fa name="ban"></fa></button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['./', 'grant']">
      <fa name="key"></fa>
      Gi tilgang
    </button>
  </mat-card-actions>
</mat-card>
