<h2>Gi ny person i organisasjonen tilgang til kundeportalen</h2>

<form [formGroup]="userForm" novalidate (ngSubmit)="save(userForm.value)">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="col-xs-4" [dividerColor]="userForm.controls['nin'].invalid ? 'warn' : 'primary'">
          <input matInput placeholder="Fødselsnummer" type="tel" formControlName="nin" #personid required>
          <mat-hint [hidden]="userForm.controls['nin'].valid || userForm.controls['nin'].pristine" align="end" style="color: red">
            <fa name="warning"></fa>
            <span *ngIf="userForm.controls['nin'].hasError('required')">Påkrevd</span>
            <span *ngIf="userForm.controls['nin'].hasError('minlength') || userForm.controls['nin'].hasError('maxlength')">
              {{ personid.value.length }} / 11 tegn
            </span>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-xs-6" [dividerColor]="userForm.controls['firstName'].invalid ? 'warn' : 'primary'">
          <input matInput placeholder="Fornavn" type="text" formControlName="firstName" #firstName required>
          <mat-hint [hidden]="userForm.controls['firstName'].valid || userForm.controls['firstName'].pristine" align="end" style="color: red">
            <fa name="warning"></fa>
            <span *ngIf="userForm.controls['firstName'].hasError('required')">Påkrevd</span>
            <span *ngIf="userForm.controls['firstName'].hasError('minlength')">Min 2 tegn</span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-xs-6" [dividerColor]="userForm.controls['lastName'].invalid ? 'warn' : 'primary'">
          <input matInput placeholder="Etternavn" type="text" formControlName="lastName" required>
          <mat-hint [hidden]="userForm.controls['lastName'].valid || userForm.controls['lastName'].pristine" align="end" style="color: red">
            <fa name="warning"></fa>
            <span *ngIf="userForm.controls['lastName'].hasError('required')">Påkrevd</span>
            <span *ngIf="userForm.controls['lastName'].hasError('minlength')">Min 2 tegn</span>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-xs-8" [dividerColor]="userForm.controls['mail'].invalid ? 'warn' : 'primary'">
          <input matInput placeholder="Epost" type="email" formControlName="mail" required>
          <mat-hint [hidden]="userForm.controls['mail'].valid || userForm.controls['mail'].pristine" align="end" style="color: red">
            <fa name="warning"></fa>
            <span *ngIf="userForm.controls['mail'].hasError('required')">Påkrevd</span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-xs-4" [dividerColor]="userForm.controls['mobile'].invalid ? 'warn' : 'primary'">
          <input matInput placeholder="Mobil" type="tel" formControlName="mobile" required>
          <mat-hint [hidden]="userForm.controls['mobile'].valid || userForm.controls['mobile'].pristine" align="end" style="color: red">
            <fa name="warning"></fa>
            <span *ngIf="userForm.controls['mobile'].hasError('required')">Påkrevd</span>
            <span *ngIf="userForm.controls['mobile'].hasError('minlength')">Min 8 tegn</span>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-checkbox formControlName="primaryTechnical" class="col-xs-12">Teknisk ansvarlig for organisasjonen</mat-checkbox>
      </div>
      <div class="row">
        <mat-checkbox formControlName="primaryLegal" class="col-xs-12">Juridisk ansvarlig for organisasjonen</mat-checkbox>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary" [disabled]="!userForm.valid"><fa name="save"></fa>Lagre</button>
      <button mat-raised-button type="button" (click)="onCancel()"><fa name="ban"></fa>Avbryt</button>
    </mat-card-actions>
  </mat-card>
</form>
