<h2>Tilgjengelige klienter</h2>

<div *ngIf="!isLoading && hasClients">
  Dette er klienter fylket du administrerer har satt opp.
</div>
<div *ngIf="!isLoading && !hasClients">
  Det er ingen klienter satt opp enda.
</div>

<mat-card>
  <div class="mat-spinner-container" *ngIf="isLoading">
    <mat-spinner class="center"></mat-spinner>
  </div>

  <mat-card-content class="table-container" *ngIf="clients">
    <table>
      <thead>
        <tr>
          <th>Navn</th>
          <th class="buttons"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let client of clients;">
          <td [routerLink]="['./', client.name]">{{ client.shortDescription }}</td>
          <td>
            <button mat-icon-button [routerLink]="['./', client.name]" title="Rediger klient"><fa name="edit"></fa></button>
            <button mat-icon-button color="warn" (click)="removeClient(client)" title="Slett klient"><fa name="ban"></fa></button>
          </td>
        </tr>
      </tbody>

    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="addClient()" type="button" *ngIf="!isLoading">
      <fa name="plus" fixed="true"></fa>
      <span>Konfigurer ny klient</span>
    </button>
  </mat-card-actions>
</mat-card>
