<h2>Tilgjengelige klienter</h2>

<div *ngIf="!isLoading && hasClients">
  Dette er klienter fylket du administrerer har satt opp.
</div>
<div *ngIf="!isLoading && !hasClients">
  Det er ingen klienter satt opp enda.
</div>

<mat-card>
  <div class="mat-spinner-container" *ngIf="isLoading">
    <mat-spinner class="center"></mat-spinner>
  </div>

  <mat-card-content class="table-container" *ngIf="clients">
    <table>
      <thead>
        <tr>
          <th>Navn</th>
          <!--<th>Teknisk Navn</th>-->
          <!--<th>Status</th>-->
          <!--<th>Adapter</th>-->
          <!--<th>Klienter</th>-->
          <th class="buttons"></th>
        </tr>
      </thead>

      <!-- Editor -->
      <!--<tbody *ngFor="let component of components;" [appComponentEditor]="component" (componentChange)="onComponentSaved($event)" (onEdit)="onEdit($event)" [class.edit]="currentEditor && currentEditor.componentUuid == component.uuid">
      </tbody>-->

    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="addClient()" type="button" *ngIf="!isLoading">
      <fa name="plus"></fa>
      <span *ngIf="!hasClients">Konfigurer ny klient</span>
      <span *ngIf="hasClients">Rediger tilgjengelige klienter</span>
    </button>
  </mat-card-actions>
</mat-card>
