<tr (click)="toggleEditComponent()">
  <td>{{ updated.displayName }}</td>
  <td>{{ updated.technicalName }}</td>
  <!--<td class="status">
    <span class="fa-stack fa-sm {{ updated.status ? 'success' : 'warning' }}">
      <i class="fa fa-circle-o fa-stack-2x"></i>
      <i class="fa fa-circle fa-stack-1x"></i>
    </span>
  </td>-->
  <td>
    <span *ngIf="updated.adapter">{{ updated.adapter.shortDescription }}</span>
    <b *ngIf="!updated.adapter" class="warning">Ingen</b>
  </td>
  <td>{{ clientNames }}</td>
  <td class="buttons">
    <button mat-icon-button (click)="toggleEditComponent(!isActive)">
      <fa name="edit" *ngIf="!isActive"></fa>
      <fa name="times" *ngIf="isActive"></fa>
    </button>
  </td>
</tr>

<tr *ngIf="isActive">
  <td colspan="5">
    <form>
      <div class="row">
        <div class="col-6">
          <fint-flip-card>
            <mat-card class="front">
              <mat-card-title>{{ updated.adapter ? 'Adapter' : 'Adapter er ikke konfigurert' }}</mat-card-title>
              <mat-card-content>
                <mat-list dense>
                  <mat-list-item *ngIf="updated.adapter">
                    <span [routerLink]="['./adapter']">{{ updated.adapter.shortDescription }}</span>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button [routerLink]="['./adapter']" type="button"><fa name="edit"></fa>Konfigurer</button>
                <button mat-raised-button (click)="removeAdapter()" type="button" color="warn"><fa name="ban"></fa>Nullstill</button>
              </mat-card-actions>
            </mat-card>
            <mat-card class="back">
              <mat-card-title>Hva er en adapter?</mat-card-title>
              <mat-card-content>
                En adapter leverer data til vår komponent.
              </mat-card-content>
            </mat-card>
          </fint-flip-card>
        </div>

        <div class="col-6">
          <fint-flip-card>
            <mat-card class="front">
              <mat-card-title>{{ updated.clients ? 'Klienter' : 'Ingen klienter' }}</mat-card-title>
              <mat-card-content>
                <mat-list dense>
                  <mat-list-item *ngFor="let client of updated.clients">
                    <span [routerLink]="['./client']">{{ client.shortDescription }}</span>
                    <button mat-icon-button (click)="removeClient(client)" color="warn"><fa name="ban"></fa></button>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button [routerLink]="['./client']" type="button"><fa name="plus"></fa>Knytte til klienter</button>
              </mat-card-actions>
            </mat-card>
            <mat-card class="back">
              <mat-card-title>Hva er en klient?</mat-card-title>
              <mat-card-content>
                En klient konsumerer data fra vår komponent.
              </mat-card-content>
            </mat-card>
          </fint-flip-card>
        </div>
      </div>
      <footer>
        <button mat-raised-button (click)="saveComponent()" [disabled]="!isUpdated" type="button" color="primary"><fa name="save"></fa>Lagre</button>
        <button mat-raised-button (click)="toggleEditComponent(false)" type="button" *ngIf="isUpdated"><fa name="trash"></fa>Avbryt</button>
        <button mat-raised-button (click)="removeComponent()" color="warn" class="pull-right"><fa name="ban"></fa>Fjern komponent</button>
      </footer>
    </form>
  </td>
</tr>
