@import '../../../../variables';

:host {
  transition: height 0.5s ease-in;
  &.edit {
    background-color: #efefef;
    > tr:first-child {
      cursor: pointer;
    }
    > tr {
      cursor: inherit;
      > td {
        border: 0;
        padding: 2px 24px 0 24px;
      }
    }
  }
  > tr {
    cursor: pointer;
    > td {
      &:last-child {
        vertical-align: top;
        padding: 10px 0 !important;
      }
      &[colspan] {
        padding: 0 14px !important;
      }
    }
  }
  form footer {
    padding: 0 10px 10px 10px;
  }
}

md-input {
  width: 90%;
  margin: 0 auto;
  display: block;
}

fint-flip-card {
  .front {
    width: 99%;
    margin: 0 auto;
  }
  .back {
    height: 99%;
    width: 99%;
    margin: 0 auto;
  }
}

md-list-item {
  margin: 0 -24px;
  padding: 0 24px;
  &:hover {
    background-color: #eee;
  }
  span {
    cursor: pointer;
    display: block;
    width: 95%;
    height: 97%;
    line-height: 35px;
  }
  button {
    position: absolute;
    right: 24px;
  }
}

