// NOTE: Theming is currently experimental and not yet publically released!
@import "variables";
@import '~@angular/material/core/theming/all-theme';

@include mat-core();

$localPrimary: mat-palette($mat-indigo);
$localAccent:  mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($localPrimary, $localAccent);

@include angular-material-theme($theme);
