$rounded: 3px;

$primary: #555;
$accent: #cf202e;
$text-color: #333;


$navbar-color: #f1f1f1;
$border-color: #ddd;
$navbar-border-color: darken($navbar-color, 10%);
$navbar-height: 50px;

$success: #1ccf16;
$warning: #cf202e;
