<h2>Registrere adapter</h2>

<form [formGroup]="adapterForm" novalidate (ngSubmit)="save(adapterForm.value, adapterForm.valid)">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="col-4">
          <input matInput placeholder="Kort beskrivelse" type="text" formControlName="shortDescription" required>
          <mat-hint [hidden]="adapterForm.controls['shortDescription'].valid || adapterForm.controls['shortDescription'].pristine" align="end" style="color: red">
            <fa name="warning"></fa>
            <span *ngIf="adapterForm.controls['shortDescription'].hasError('required')">Påkrevd</span>
            <span *ngIf="adapterForm.controls['shortDescription'].hasError('minlength') || adapterForm.controls['shortDescription'].hasError('maxlength')">
              {{ personid.characterCount }} / 11 tegn
            </span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-4">
          <input matInput placeholder="Notat" type="text" formControlName="note" required>
          <mat-hint [hidden]="adapterForm.controls['note'].valid || adapterForm.controls['note'].pristine" align="end" style="color: red">
            <fa name="warning"></fa>
            <span *ngIf="adapterForm.controls['note'].hasError('required')">Påkrevd</span>
            <span *ngIf="adapterForm.controls['note'].hasError('minlength') || adapterForm.controls['note'].hasError('maxlength')">
              {{ personid.characterCount }} / 11 tegn
            </span>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-xs-6">
          <input matInput placeholder="API Nøkkel" type="text" formControlName="uuid" readonly #uuid>
          <button mat-suffix mat-icon-button type="button" title="Kopier nøkkel" [ngxClipboard]="uuid" [disabled]="!adapterForm.value['uuid']"><fa name="copy"></fa></button>
        </mat-form-field>
        <mat-form-field class="col-xs-6">
          <input matInput placeholder="API Hemmelighet" type="text" formControlName="secret" readonly #secret>
          <button mat-suffix mat-icon-button type="button" title="Generer nye hemmelighet" (click)="generateUserPass()" [disabled]="!adapterForm.value['shortDescription']"><fa name="key"></fa></button>
          <button mat-suffix mat-icon-button type="button" title="Kopier hemmelighet" [ngxClipboard]="secret" [disabled]="!adapterForm.value['secret']"><fa name="copy"></fa></button>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-8">
          <mat-checkbox formControlName="confirmation" style="position: relative;">
            Bekreft at databehandleravtale er inngått med leverandør
          </mat-checkbox>
          <div>
            <mat-hint [hidden]="adapterForm.value.confirmation === true" align="start" style="color: red;">
              <fa name="warning"></fa>
              <span>Må bekreftes</span>
            </mat-hint>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="!adapterForm.valid || adapterForm.value.confirmation !== true" color="primary"><fa name="save"></fa>Lagre</button>
      <button mat-raised-button type="button" [routerLink]="['/components', componentId]"><fa name="ban"></fa>Lukk</button>
    </mat-card-actions>
  </mat-card>
</form>
