<h2>Registrere klient</h2>

<form [formGroup]="clientForm" novalidate (ngSubmit)="save(clientForm.value, clientForm.valid)">
  <md-card>
    <md-card-content>
      <div class="row">
        <div class="col-4">
          <md-input placeholder="Kort beskrivelse" type="text" formControlName="shortDescription" required>
            <md-hint [hidden]="clientForm.controls['shortDescription'].valid || clientForm.controls['shortDescription'].pristine" align="end" style="color: red">
              <fint-fa name="warning"></fint-fa>
              <span *ngIf="clientForm.controls['shortDescription'].hasError('required')">Påkrevd</span>
              <span *ngIf="clientForm.controls['shortDescription'].hasError('minlength') || clientForm.controls['shortDescription'].hasError('maxlength')">
                {{ personid.characterCount }} / 11 tegn
              </span>
            </md-hint>
          </md-input>
        </div>
        <div class="col-4">
          <md-input placeholder="Notat" type="text" formControlName="note" required>
            <md-hint [hidden]="clientForm.controls['note'].valid || clientForm.controls['note'].pristine" align="end" style="color: red">
              <fint-fa name="warning"></fint-fa>
              <span *ngIf="clientForm.controls['note'].hasError('required')">Påkrevd</span>
              <span *ngIf="clientForm.controls['note'].hasError('minlength') || clientForm.controls['note'].hasError('maxlength')">
                {{ personid.characterCount }} / 11 tegn
              </span>
            </md-hint>
          </md-input>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <md-input placeholder="API Nøkkel" [type]="userPassType" formControlName="uuid" disabled></md-input>
        </div>
        <div class="col-xs-5">
          <md-input placeholder="API Hemmelighet" [type]="userPassType" formControlName="password" disabled></md-input>
        </div>
        <div class="col-xs-2">
          <button type="button" md-icon-button title="Se nåværende verdier" (click)="toggleUserPassType()"><fint-fa name="eye"></fint-fa></button>
          <button type="button" md-icon-button title="Generer nye verdier" (click)="generateUserPass()"><fint-fa name="key"></fint-fa></button>
          <button type="button" md-icon-button title="Kopier nøkkel"><fint-fa name="copy"></fint-fa></button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <md-checkbox formControlName="confirmation" style="position: relative;">
            Bekreft at databehandleravtale er inngått med klienten
            <md-hint [hidden]="clientForm.value.confirmation === true" align="start" style="color: red; bottom: -2em;">
              <fint-fa name="warning"></fint-fa>
              <span>Må være bekreftet</span>
            </md-hint>
          </md-checkbox>
        </div>
      </div>

    </md-card-content>
    <md-card-actions>
      <button md-raised-button md-ripple [disabled]="!clientForm.valid || clientForm.value.confirmation !== true" type="submit"
        color="primary"><fint-fa name="save"></fint-fa>Lagre</button>
      <button md-raised-button md-ripple type="button" [routerLink]="['/components', componentId]"><fint-fa name="ban"></fint-fa>Lukk</button>
    </md-card-actions>
  </md-card>
</form>
