app-input {
  display: block;
}
md-input {
  width: 99%;
}

.api-list {
  max-width: 300px;
  fint-fa {
    float: left;
    margin-left: -26px;
    cursor: pointer;
  }
  ul {
    padding-left: 26px;
  }
}
