<h2>Konfigurere klienter</h2>

<div>
  Dette er klienter fylket du administrerer har satt opp. Velg klienten du ønsker å knytte opp mot denne felleskomponenten.
</div>

<section class="row">
  <div class="col-5 from">
    <md-card>
      <md-card-title>
        Tilgjengelige klienter
        <button md-raised-button md-ripple [routerLink]="['/clients/add']" type="button" class="pull-right"><fint-fa name="handshake-o"></fint-fa>Registrer ny klient</button>
      </md-card-title>
      <md-card-content class="table-container" *ngIf="clients.length">
        <table>
          <thead>
          <tr>
            <th>Navn</th>
          </tr>
          </thead>

          <!-- Editor -->
          <tbody>
          <tr *ngFor="let client of clientsNotConfigured;">
            <td>
              <md-checkbox [(ngModel)]="client.isSelected">
                {{ client.shortDescription }}
              </md-checkbox>
            </td>
          </tr>
          </tbody>

        </table>
      </md-card-content>
    </md-card>
  </div>

  <div class="col-2 transfer">
    <div><button md-fab md-icon-button class="icon" (click)="transferRight()"><fint-fa name="arrow-right" size="2"></fint-fa></button></div>
    <div><button md-fab md-icon-button class="icon" (click)="transferLeft()"><fint-fa name="arrow-left" size="2"></fint-fa></button></div>
  </div>

  <div class="col-5 to">
    <md-card>
      <md-card-title>Tilknyttede klienter</md-card-title>
      <md-card-content class="table-container" *ngIf="configuredClients.length">
        <table>
          <thead>
          <tr>
            <th>Navn</th>
          </tr>
          </thead>

          <!-- Editor -->
          <tbody>
          <tr *ngFor="let client of configuredClients;">
            <td>
              <md-checkbox [(ngModel)]="client.isSelected">
                {{ component.shortDescription }}
              </md-checkbox>
            </td>
          </tr>
          </tbody>

        </table>
      </md-card-content>
    </md-card>
  </div>
</section>

<footer class="row">
  <button md-raised-button md-ripple type="button" (click)="save()" color="primary"><fint-fa name="save"></fint-fa>Lagre</button>
  <button md-raised-button md-ripple [routerLink]="['../']" type="button"><fint-fa name="ban"></fint-fa>Avbryt</button>
</footer>
