@import "../../../variables";

table {
  table-layout: fixed;
  th:nth-child(1), td:nth-child(1) {
    width: 100px;
  }
  th:last-child, td:last-child {
    width: 135px;
    button {
      margin-left: 0;
      margin-right: 0;
    }
  }
  td {
    cursor: pointer;
  }
}
