@import '../../../../variables';

:host {
  transition: height 0.5s ease-in;
  &.edit {
    background-color: #efefef;
    > tr:first-child {
      cursor: pointer;
    }
    > tr {
      cursor: inherit;
      > td {
        border: 0;
        padding: 2px 24px 0 24px;
      }
    }
  }
  > tr {
    cursor: pointer;
    > td {
      &[colspan] {
        padding: 0 14px !important;
      }
    }
  }
  form footer {
    padding: 10px;
  }
}

fint-flip-card /deep/{
  .front {
    width: 99%;
    margin: 0 auto;
    height: 99%;
  }
  .back {
    height: 99%;
    width: 99%;
    margin: 0 auto;
  }
  mat-card-content {
    margin-bottom: 3rem;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  mat-card-actions {
    position: absolute;
    bottom: 26px;
  }
}

mat-list-item {
  margin: 0 -24px;
  padding: 0 24px;
  &:hover {
    background-color: #eee;
  }
  span {
    cursor: pointer;
    display: block;
    width: 95%;
    height: 97%;
    line-height: 35px;
  }
  button {
    position: absolute;
    right: 24px;
  }
}

