<h2>Tilgjengelige felleskomponenter</h2>

<div>
  Dette er felleskomponenter fylket du administrerer har satt opp.
</div>

<md-card>
  <md-card-content class="table-container" *ngIf="components">
    <table>
      <thead>
        <tr>
          <th>Navn</th>
          <th>Teknisk Navn</th>
          <th>Status</th>
          <th>Adapter</th>
          <th>Klienter</th>
          <th></th>
        </tr>
      </thead>

      <!-- Editor -->
      <tbody *ngFor="let component of components;" [appComponentEditor]="component" (componentChange)="onComponentSaved($event)"
        (onEdit)="onEdit($event)" [class.edit]="currentEditor && currentEditor.componentUuid == component.uuid">
      </tbody>

    </table>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button md-ripple (click)="addComponent()" type="button">
      <fint-fa name="plus"></fint-fa>
      Konfigurer ny komponent
    </button>
  </md-card-actions>
</md-card>
