table {
  table-layout: fixed;
  th {
    // &:nth-child(3) {
    //   width: 70px;
    // }
    &.buttons {
      $width: 65px;
      width: $width;
      min-width: $width;
      max-width: $width;
      white-space: nowrap;
    }
  }
  tbody.edit {
    box-shadow: 0 4px 12px -6px rgba(0, 0, 0, 0.3) inset
  }
}
