<h2>Gi ny person i organisasjonen tilgang til kundeportalen</h2>

<form [formGroup]="userForm" novalidate (ngSubmit)="save(userForm.value)">
  <md-card>
    <md-card-content>
      <div class="row">
        <div class="col-xs-4">
          <md-input placeholder="Fødselsnummer" type="tel" formControlName="nin" style="width: 99%" #personid required>
            <md-hint [hidden]="userForm.controls['nin'].valid || userForm.controls['nin'].pristine" align="end" style="color: red">
              <fint-fa name="warning"></fint-fa>
              <span *ngIf="userForm.controls['nin'].hasError('required')">Påkrevd</span>
              <span *ngIf="userForm.controls['nin'].hasError('minlength') || userForm.controls['nin'].hasError('maxlength')">
                {{ personid.characterCount }} / 11 tegn
              </span>
            </md-hint>
          </md-input>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <md-input placeholder="Fornavn" type="text" formControlName="firstName" style="width: 99%" required>
            <md-hint [hidden]="userForm.controls['firstName'].valid || userForm.controls['firstName'].pristine" align="end" style="color: red">
              <fint-fa name="warning"></fint-fa>
              <span *ngIf="userForm.controls['firstName'].hasError('required')">Påkrevd</span>
              <span *ngIf="userForm.controls['firstName'].hasError('minlength') || userForm.controls['firstName'].hasError('maxlength')">
                {{ personid.characterCount }} / 11 tegn
              </span>
            </md-hint>
          </md-input>
        </div>
        <div class="col-xs-6">
          <md-input placeholder="Etternavn" type="text" formControlName="lastName" style="width: 99%" required>
            <md-hint [hidden]="userForm.controls['lastName'].valid || userForm.controls['lastName'].pristine" align="end" style="color: red">
              <fint-fa name="warning"></fint-fa>
              <span *ngIf="userForm.controls['lastName'].hasError('required')">Påkrevd</span>
              <span *ngIf="userForm.controls['lastName'].hasError('minlength') || userForm.controls['lastName'].hasError('maxlength')">
                {{ personid.characterCount }} / 11 tegn
              </span>
            </md-hint>
          </md-input>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <md-input placeholder="Epost" type="email" formControlName="mail" style="width: 99%" required>
            <md-hint [hidden]="userForm.controls['mail'].valid || userForm.controls['mail'].pristine" align="end" style="color: red">
              <fint-fa name="warning"></fint-fa>
              <span *ngIf="userForm.controls['mail'].hasError('required')">Påkrevd</span>
              <span *ngIf="userForm.controls['mail'].hasError('minlength') || userForm.controls['mail'].hasError('maxlength')">
                {{ personid.characterCount }} / 11 tegn
              </span>
            </md-hint>
          </md-input>
        </div>
        <div class="col-xs-4">
          <md-input placeholder="Mobil" type="tel" formControlName="mobile" required>
            <md-hint [hidden]="userForm.controls['mobile'].valid || userForm.controls['mobile'].pristine" align="end" style="color: red">
              <fint-fa name="warning"></fint-fa>
              <span *ngIf="userForm.controls['mobile'].hasError('required')">Påkrevd</span>
              <span *ngIf="userForm.controls['mobile'].hasError('minlength') || userForm.controls['mobile'].hasError('maxlength')">
                {{ personid.characterCount }} / 11 tegn
              </span>
            </md-hint>
          </md-input>
        </div>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button md-ripple type="submit" color="primary" [disabled]="!userForm.valid"><fint-fa name="save"></fint-fa>Lagre</button>
      <button md-raised-button md-ripple type="button" (click)="onCancel()"><fint-fa name="ban"></fint-fa>Avbryt</button>
    </md-card-actions>
  </md-card>
</form>
