<h2>Gi ny person i organisasjonen tilgang til kundeportalen</h2>

<form [formGroup]="userForm" novalidate (ngSubmit)="save(userForm.value)">
  <md-card>
    <md-card-content>
      <div class="row">
        <md-input-container class="col-xs-4" [dividerColor]="userForm.controls['nin'].invalid ? 'warn' : 'primary'">
          <input md-input mdInput placeholder="Fødselsnummer" type="tel" formControlName="nin" #personid required>
          <md-hint [hidden]="userForm.controls['nin'].valid || userForm.controls['nin'].pristine" align="end" style="color: red">
            <fint-fa name="warning"></fint-fa>
            <span *ngIf="userForm.controls['nin'].hasError('required')">Påkrevd</span>
            <span *ngIf="userForm.controls['nin'].hasError('minlength') || userForm.controls['nin'].hasError('maxlength')">
              {{ personid.value.length }} / 11 tegn
            </span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="row">
        <md-input-container class="col-xs-6" [dividerColor]="userForm.controls['firstName'].invalid ? 'warn' : 'primary'">
          <input md-input mdInput placeholder="Fornavn" type="text" formControlName="firstName" #firstName required>
          <md-hint [hidden]="userForm.controls['firstName'].valid || userForm.controls['firstName'].pristine" align="end" style="color: red">
            <fint-fa name="warning"></fint-fa>
            <span *ngIf="userForm.controls['firstName'].hasError('required')">Påkrevd</span>
            <span *ngIf="userForm.controls['firstName'].hasError('minlength')">Min 2 tegn</span>
          </md-hint>
        </md-input-container>
        <md-input-container class="col-xs-6" [dividerColor]="userForm.controls['lastName'].invalid ? 'warn' : 'primary'">
          <input md-input mdInput placeholder="Etternavn" type="text" formControlName="lastName" required>
          <md-hint [hidden]="userForm.controls['lastName'].valid || userForm.controls['lastName'].pristine" align="end" style="color: red">
            <fint-fa name="warning"></fint-fa>
            <span *ngIf="userForm.controls['lastName'].hasError('required')">Påkrevd</span>
            <span *ngIf="userForm.controls['lastName'].hasError('minlength')">Min 2 tegn</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="row">
        <md-input-container class="col-xs-8" [dividerColor]="userForm.controls['mail'].invalid ? 'warn' : 'primary'">
          <input md-input mdInput placeholder="Epost" type="email" formControlName="mail" required>
          <md-hint [hidden]="userForm.controls['mail'].valid || userForm.controls['mail'].pristine" align="end" style="color: red">
            <fint-fa name="warning"></fint-fa>
            <span *ngIf="userForm.controls['mail'].hasError('required')">Påkrevd</span>
          </md-hint>
        </md-input-container>
        <md-input-container class="col-xs-4" [dividerColor]="userForm.controls['mobile'].invalid ? 'warn' : 'primary'">
          <input md-input mdInput placeholder="Mobil" type="tel" formControlName="mobile" required>
          <md-hint [hidden]="userForm.controls['mobile'].valid || userForm.controls['mobile'].pristine" align="end" style="color: red">
            <fint-fa name="warning"></fint-fa>
            <span *ngIf="userForm.controls['mobile'].hasError('required')">Påkrevd</span>
            <span *ngIf="userForm.controls['mobile'].hasError('minlength')">Min 8 tegn</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="row">
        <md-checkbox formControlName="primaryTechnical" class="col-xs-12">Teknisk ansvarlig for organisasjonen</md-checkbox>
      </div>
      <div class="row">
        <md-checkbox formControlName="primaryLegal" class="col-xs-12">Juridisk ansvarlig for organisasjonen</md-checkbox>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button md-ripple type="submit" color="primary" [disabled]="!userForm.valid"><fint-fa name="save"></fint-fa>Lagre</button>
      <button md-raised-button md-ripple type="button" (click)="onCancel()"><fint-fa name="ban"></fint-fa>Avbryt</button>
    </md-card-actions>
  </md-card>
</form>
