<section>
  <div class="row">
    <div class="col-4 button-container">
      <button md-raised-button md-ripple [routerLink]="['/access']">Hvem har tilgang</button>
    </div>
    <div class="col-4 button-container">
      <button md-raised-button md-ripple [routerLink]="['/components']">Hvilke komponenter er konfigurert</button>
    </div>
    <div class="col-4 button-container">
      <button md-raised-button md-ripple [routerLink]="['/events']">Se et hendelsesforløp</button>
    </div>
  </div>
</section>
