@import "../../../variables";

section {
  text-align: center;
  //background: darken($navbar-color, 5%);
  //margin: 0 -1000px;
  //padding: 0 1000px;
  .button-container {
    padding: 0.2em;
  }
  button {
    height: 10em;
    width: 100%;
    font-size: 120%;
  }
}
